.formControl.scoreContainer {
  flex-direction: row;
  gap: 2rem;
  justify-content: center;

  svg {
    font-size: 1.6rem;
    cursor: pointer;

    :hover {
      fill: #7076f4;
      transition: 0.3s;
    }
  }

  input:checked ~ svg {
    fill: #7076f4;
  }
}

.radioContainer {
  text-align: center;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    top: 1rem;
    left: 1.3rem;
  }

  p {
    font-style: italic;
    font-weight: 300;
    font-size: 0.7rem;
    margin-top: 0.4rem;
  }
}
